<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Painel']" icon="tachometer"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>
        <div class="row">
          <!-- NEW WIDGET START -->
						<article class="col-sm-12 col-md-12 col-lg-6">

							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget jarviswidget-color-greenDark" id="wid-id-2" data-widget-editbutton="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Table hover states </h2>

								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body no-padding">

										<div class="alert alert-info no-margin fade in">
											<button class="close" data-dismiss="alert">
												×
											</button>
											<i class="fa-fw fa fa-info"></i>
											Enables hover effect <code>&lt;table&gt;</code> by adding the <code>.table-hover</code> with the base class
										</div>
										<div class="table-responsive">

											<table class="table table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th>First Name</th>
														<th>Last Name</th>
														<th>Username</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>Mark</td>
														<td>Otto</td>
														<td>@mdo</td>
													</tr>
													<tr>
														<td>2</td>
														<td>Jacob</td>
														<td>Thornton</td>
														<td>@fat</td>
													</tr>
													<tr>
														<td>3</td>
														<td>Larry</td>
														<td>the Bird</td>
														<td>@twitter</td>
													</tr>
													<tr>
														<td>4</td>
														<td>Wise</td>
														<td>Man</td>
														<td>@myorange</td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
							<!-- end widget -->

						</article>
						<!-- WIDGET END -->
        </div>
        <!-- row -->
        <div class="row">
          <div class="panel panel-default">
            <div class="col-sm-6 col-lg-4" *ngIf="false">
                <div class="panel-body status">
                  <div class="who clearfix">
                    <img src="assets/img/avatars/female.png" alt="img" class="online">
                    <span class="name"><b>Rita de Cássia</b></span>
                    <span class="from">Último cadastro: <b>1 dia atrás</b> </span>
                  </div>
                  <ul class="comments">
                    <li>
                      <span class="name">DSX10</span> Indicador 1
                    </li>
                    <li>
                      <span class="name">DSX10</span> Indicador 1
                    </li>
                    <li>
                      <span class="name">DSX10</span> Indicador 1
                    </li>
                  </ul>
                </div>
            </div>
            <div class="col-sm-4 col-lg-4">
                  <header>
                      <h2><strong>Indicadores</strong> <i>Cadastrados</i></h2>
                  </header>
                  <!-- widget div-->
                  <div>
                      <!-- widget content -->
                      <div class="widget-body">
                        <sa-morris-graph [data]="listaIndicadores"
                                       type="donut"
                                       [options]="{
                                      formater: percentageFormat
                        }"></sa-morris-graph>
                      </div>
                      <!-- end widget content -->
                  </div>
                  <footer>
                    <h2>Total: <span class="txt-color-blue">{{totalIndicadores}}</span></h2>
                  </footer>
            </div>
          </div>
        </div>
    </sa-widgets-grid>
</div>
