<div id="extr-page">
<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Não tem uma conta?</span> <a [href]="env.urlNewUser" class="btn btn-danger">Cria uma conta</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">MGI - Módulo de Gestão de Indicadores</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Controle dos indicadores do Ministério da Saúde!</h4>
          </div>
          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form" (ngSubmit)="login()" f="ngForm" novalidate>
            <header>
              Login
            </header>
            <fieldset>
              <section>
                <label class="label">Usuário</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input=""
                  data-required="" data-email="" data-message-required="Entre com seu email"
                  data-message-email="Entre com um nome de usuário válido" [(ngModel)]="model.usuario" #username="ngModel" [ngModelOptions]="{standalone: true}" required>
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Entre com usuário/senha</b></label>
              </section>
              <section>
                <label class="label">Senha</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Entre com uma senha"
                  [(ngModel)]="model.senha" #username="ngModel" [ngModelOptions]="{standalone: true}" required>
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Entre
                    sua senha</b> </label>

                <div class="note">
                  <a [href]="env.urlForgetPassword">Esqueceu a senha?</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Lembre-se</label>
              </section>
            </fieldset>
            <footer>
              <button class="btn btn-primary">
                Entrar
              </button>
            </footer>
          </form>
          <button class="btn btn-primary" (click)="complementoModal.show()">
            Abrir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div bsModal #complementoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="complementoModal.hide()">
          &times;
        </button>
        <h4 class="modal-title">Complemento de cadastro</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well no-padding">

              <form id="smart-form-register" class="smart-form client-form">
                <header>Usuário</header>

                <fieldset>
                  <section>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" name="username" placeholder="Nome Completo">
                      <b class="tooltip tooltip-bottom-right">Nome para cadastramento do perfil</b> </label>
                  </section>
                  <section>
                    <label class="input"> <i class="icon-append fa fa-circle-o"></i>
                      <input type="text" name="cpf" placeholder="CPF" saMaskedInput="999.999.999-99">
                      <b class="tooltip tooltip-bottom-right">Para registro</b> </label>
                  </section>
                  <section>
                    <label class="input"> <i class="icon-append fa fa-envelope"></i>
                      <input type="email" name="email" placeholder="Endereço de email">
                      <b class="tooltip tooltip-bottom-right">Para envio de email pelo sistema de alerta</b> </label>
                  </section>
                  <section>
                    <label class="select">
                      <select name="unidade">
                        <option value="" selected disabled>Unidade de Lotação</option>
                        <option value="1">Unidade 1</option>
                        <option value="2">Unidade 2</option>
                      </select> <i ></i>
                    </label>
                  </section>
                </fieldset>

                <fieldset>
                  <div class="row">
                    <section class="col col-6">
                      <label class="input"><i class="icon-append fa fa-phone"></i>
                        <input type="text" name="telefone" placeholder="Telefone de Contato"
                        saMaskedInput="(999) 999-9999" saMaskedPlaceholder="X">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="input"><i class="icon-append fa fa-mobile"></i>
                        <input type="text" name="celular" placeholder="Telefone Celular"
                        saMaskedInput="(999) 9999-9999" saMaskedPlaceholder="X">
                      </label>
                    </section>
                  </div>

                  <div class="row">
                    <section class="col col-6">
                      <label class="input"> <i class="icon-append fa fa-phone-square"></i>
                        <input type="text" name="request" placeholder="Ramal" saMaskedInput="9999">
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="select">
                        <select name="sexo">
                          <option value="" selected disabled>Sexo</option>
                          <option value="M">Masculino</option>
                          <option value="F">Feminino</option>
                        </select> <i></i> </label>
                    </section>
                  </div>
                </fieldset>
                <footer>
                  <button (click)="register($event)" class="btn btn-primary">
                    Salva
                  </button>
                </footer>

                <div class="message">
                  <i class="fa fa-check"></i>
                  <p>
                    Thank you for your registration!
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
