/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.popover {
     max-width: 900px;
 }

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#logoHeader {
    height: 90px;
    background: gray;
    padding: 5px 30px;
    background-color: #5dc2c6;
    background-image: linear-gradient(125deg,rgba(79,105,194,.7),rgba(79,105,194,0) 60%);
    position:relative;
}

#logoHeader .textura{
    /* content:''; */
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background-image: url("../img/textura.png");
    /* z-index: 1; */

}

#logo{
    display:block;
    width: 250px;
}

#logoHeader header #logo img{
    height: 100%;
    width: auto;
}


.txt-color-red{

    color:rgba(79,105,194,1) !important;
}


.ajuda-faq{
    position:absolute;
    right:20px;
    top:20px;
}