<div id="content">
  <div class="row">
    <sa-big-breadcrumbs icon="file-text-o" [items]="['Indicador', indicador.titulo ]" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well padding-10">
        <div class="row">
          <div class="col-md-9 padding-left-0">
            <h3 class="margin-top-0"><a (click)="(null)"> {{ indicador.codigo }} - {{ indicador.titulo }} </a><br>
              <small class="font-xs"><i>Fonte: <a (click)="(null)">{{ indicador.fonte_dados }}</a></i></small></h3>
            <h4>Descrição</h4>
            <br/>
            <p>{{ indicador.descricao }}</p>
            <br/>
            <h4>Conceituação</h4>
            <br/>
            <p>{{ indicador.conceituacao }}</p>
            <br/>
            <h4>Limitações</h4>
            <br/>
            <p>{{ indicador.limitacoes }}</p>
            <br/>
            <h4>Interpretação</h4>
            <br/>
            <p>{{ indicador.interpretacao }}</p>
            <br/>
            <h4>Usos</h4>
            <br/>
            <p>{{ indicador.usos }}</p>
            <br/>
            <h4>Método de Cálculo</h4>
            <br/>
            <p>{{ indicador.metodo_calculo }}</p>
            <div *ngIf="indicador.observacoes">
              <br/>
              <h4>Observações</h4>
              <br/>
              <p>{{ indicador.observacoes }}</p>
            </div>
            <br/><br/>
            <a class="btn btn-primary" routerLink="/"> Voltar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
