<div id="content">
  <div class="row">
    <sa-big-breadcrumbs icon="file-text-o" [items]="['Indicador',indicador.codigo ]" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well padding-10">
        <div class="row">
          <div class="col-md-9 padding-left-0">
            <h3 class="margin-top-0"><a (click)="(null)"> {{ indicador.titulo }} </a><br>
              <small class="font-xs"><i>Fonte: <a (click)="(null)">{{ indicador.fonte_dados }}</a></i></small></h3>
            <legend>Descrição</legend>
            <span class="descricao" [innerHTML]="indicador.descricao||msg_padrao"></span>
            <br/><br/>
            <legend>Conceituação</legend>
            <span class="conceituacao" [innerHTML]="indicador.conceituacao||msg_padrao"></span>
            <br/><br/>
            <legend>Limitações</legend>
            <span class="limitacoes" [innerHTML]="indicador.limitacoes||msg_padrao"></span>
            <br/><br/>
            <legend>Interpretação</legend>
            <span class="interpretacao" [innerHTML]="indicador.interpretacao||msg_padrao"></span>
            <br/><br/>
            <legend>Usos</legend>
            <span class="usos" [innerHTML]="indicador.usos||msg_padrao"></span>
            <br/><br/>
            <legend>Método de Cálculo</legend>
            <span class="metodo_calculo" [innerHTML]="indicador.metodo_calculo||msg_padrao"></span>
            <div *ngIf="indicador.observacoes">
              <br/><br/>
              <legend>Observações</legend>
              <span class="observacoes" [innerHTML]="indicador.observacoes||msg_padrao"></span>
            </div>
            <br/><br/>
            <a class="btn btn-primary" routerLink="/"> Voltar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
